@using Microsoft.AspNetCore.Identity
@using EmployeeLeaveMangementSystem.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {

            <li class="nav-item dropdown">
                <a class="navlink-danger dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">Admin</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }

        else if ((User.IsInRole("Employee")))
        {
            <li class="nav-item dropdown">
                <a class="navlink-danger dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">Employee</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>

        }
       
        

            
}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li> *@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
