@using  Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using System.Security.Claims;
@model Leave

@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<h2>Create Leave</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="EmployeeId"></label>
        <input asp-for="EmployeeId" class="form-control" value="@userId" />
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        
        <label asp-for="LeaveType"></label>
        <select asp-for="LeaveType" class="form-control">
            <option value="">Select Leave Type</option>
            <option value="Sick">Sick Leave</option>
            <option value="Vacation">Vacation Leave</option>
            <option value="Maternity">Maternity Leave</option>
        </select>
        <span asp-validation-for="LeaveType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Reason"></label>
        <input asp-for="Reason" class="form-control" />
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div> *@


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
