@using EmployeeLeaveMangementSystem.Models
@{
    ViewData["Title"] = "Home Page";
}

<style>
   
    #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    margin-top:-90px;
}

.image-container {
    margin-right: 10px; 
}

.image {
    max-width: 100%;
    height: auto;
}
.content {
    text-align: center;
    max-width: 50%; 
}




</style>


<section id="hero">
   
    <div class="image-container">
        <img src="image/leave.png" alt="Image Description" class="image">
    </div>
    <div class="content" style="font-family:Calibri">
        <h1><b>Employee Leave <br />Management Portal</b></h1>
        <br />
        <h3 style="font-family:'Sans Serif Collection'">"Efficiently managing employee<br /> leave not fosters a positive work<br />environment but also enhances productivity." </h3>
    </div>
    
</section>