@page
@model LoginModel


@{
    ViewData["Title"] = "Log in";
}
<style>
    body{
        bbackground-image: url('/image/BG.png')
    }
    .container {
        margin-top: 50px;
       
       
    }
    section{
        background-color:white;
    }
    .form-control {
        border-radius: 0;
    }

    .checkbox {
        font-weight: normal;
    }

    .btn-primary {
        background-color: #7EC8E3;
        border-color: #7EC8E3;
    }

        .btn-primary:hover {
            background-color: #7EC8E3;
            border-color: #7EC8E3;
        }

    .btn-outline-primary {
        color: #7EC8E3;
        border-color: #7EC8E3;
    }

        .btn-outline-primary:hover {
            color: #7EC8E3;
            border-color: #7EC8E3;
        }

    .btn-link {
        color: #7EC8E3;
    }

        .btn-link:hover {
            text-decoration: underline;
        }


</style>
 <div class="column">
    <div class="col-md-4 mx-auto rounded border p-3">
        <section>
            <h2 class="text-center mb-3">Please Log In.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form id="account" method="post">

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="col d-grid">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <br />
                <div class="col d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>

                </div>
               
            </form>
        </section>
    </div>
    
    

</div> 

