@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<style>
    body {
        background-image: url('/image/BG.png')
    }
   
    h1 {
        color: #7EC8E3;
        margin-bottom: 20px; 
    }
    .form-inline {
        display: inline-block; 
    }
    
        .btn-link:hover {
            text-decoration: underline; 
        }
   
</style>
<header style="background:transparent">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
